/* animasi menu khs dan daftar nilai */
.buton-menu-khs button.active::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0%;
  width: 300px;
  height: 600px;
  background: #c4b5fd;
  border-radius: 50%;
  transform: translate(-50%, -70%) scale(1);
  transition: transform 1s ease-in-out;
  pointer-events: none;
  z-index: -1;
}

.buton-menu-khs button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 300px;
  height: 600px;
  background: #c4b5fd;
  border-radius: 50%;
  transform: translate(-50%, -70%) scale(0);
  transition: transform 0.7s ease-out;
  pointer-events: none;
  z-index: -1;
}

.buton-menu-khs button:hover {
  background-color: #e0e7ff;
  transition: ease-in-out 0.7s;
}

.buton-menu-khs button.active:hover {
  background-color: #e0e7ff;
  transition: ease-in-out 0.7s;
}

.buton-menu-khs button.active:hover::before {
  transform: translate(-50%, -70%) scale(1);
}

/* animasi ipk dan jumlah sks */
#cont-1-dn button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 200px;
  height: 200px;
  background: #fde68a;
  border-radius: 50%;
  transform: translate(-50%, -70%) scale(0);
  transition: transform 1.5s ease-out;
  pointer-events: none;
  z-index: -1;
}

#cont-1-dn button:hover {
  background-color: #ffedd5;
  transition: ease-in-out 0.5s;
}

#cont-1-dn button:hover::before {
  transform: translate(-50%, -50%) scale(4);
}

/* animasi itme kategori nilai */
/* nilai a b dan ab */
#kategori-nilai .a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 200px;
  height: 200px;
  background: #86efac;
  border-radius: 50%;
  transform: translate(-50%, -70%) scale(0);
  transition: transform 1.5s ease-out;
  pointer-events: none;
  z-index: -1;
}

#kategori-nilai .a:hover {
  background-color: #dcfce7;
  transition: ease-in-out 0.5s;
}

#kategori-nilai .a:hover::before {
  transform: translate(-50%, -50%) scale(4);
}

/* nilai c */
#kategori-nilai .c::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 200px;
  height: 200px;
  background: #fdba74;
  border-radius: 50%;
  transform: translate(-50%, -70%) scale(0);
  transition: transform 1.5s ease-out;
  pointer-events: none;
  z-index: -1;
}

#kategori-nilai .c:hover {
  background-color: #ffedd5;
  transition: ease-in-out 0.2s;
}

#kategori-nilai .c:hover::before {
  transform: translate(-50%, -50%) scale(4);
}

/* nilai d */
#kategori-nilai .d::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 200px;
  height: 200px;
  background: #fb923c;
  border-radius: 50%;
  transform: translate(-50%, -70%) scale(0);
  transition: transform 1.5s ease-out;
  pointer-events: none;
  z-index: -1;
}

#kategori-nilai .d:hover {
  background-color: #fed7aa;
  transition: ease-in-out 0.2s;
}

#kategori-nilai .d:hover::before {
  transform: translate(-50%, -50%) scale(4);
}

/* nilai e */
#kategori-nilai .e::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 200px;
  height: 200px;
  background: #fb7185;
  border-radius: 50%;
  transform: translate(-50%, -70%) scale(0);
  transition: transform 1.5s ease-out;
  pointer-events: none;
  z-index: -1;
}

#kategori-nilai .e:hover {
  background-color: #fecdd3;
  transition: ease-in-out 0.2s;
}

#kategori-nilai .e:hover::before {
  transform: translate(-50%, -50%) scale(4);
}

/* daftar nilai matkul */
/* nilai c, bc */
.c-bc-matkul::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 200px;
  height: 200px;
  background: #fdba74;
  border-radius: 50%;
  transform: translate(-50%, -70%) scale(0);
  transition: transform 1.5s ease-out;
  pointer-events: none;
  z-index: -1;
}

.c-bc-matkul:hover {
  background-color: #ffedd5;
  transition: ease-in-out 0.2s;
}

.c-bc-matkul:hover::before {
  transform: translate(-50%, -50%) scale(4);
}

/* nilai a, ab dan b */
.a-ab-b-matkul::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 200px;
  height: 200px;
  background: #4ade80;
  border-radius: 50%;
  transform: translate(-50%, -70%) scale(0);
  transition: transform 1.5s ease-out;
  pointer-events: none;
  z-index: -1;
}

.a-ab-b-matkul:hover {
  background-color: #dcfce7;
  transition: ease-in-out 0.5s;
}

.a-ab-b-matkul:hover::before {
  transform: translate(-50%, -50%) scale(4);
}
