/* Membuat container menyerupai gaya GitHub */
.github-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  max-width: auto;
  margin: 20px auto;
}

/* Menambahkan judul seperti GitHub */
.chart-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  color: #24292e;
  margin-bottom: 10px;
  text-align: left;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

/* Mengatur ukuran gambar grafik agar lebih mirip GitHub */
.github-contributions img {
  height: 20vh;
  width: auto;
  border-radius: 6px;
}

/* Mengatur teks kecil di bawah grafik */
.chart-footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  color: #586069;
  margin-top: 5px;
  text-align: left;
  width: 100%;
  padding-left: 10px;
}
